@media (max-width: 1440px) {
	
}

@media (max-width: 976px) {
	
}

@media (max-width: 768px) {
	
}

@media (max-width: 480px) {
	.title{
        color: #252B42;
text-align: center;
font-family:'Montserrat-700';
font-size: 40px;;
font-weight: 700;
line-height: 57px;

    }
    .hero__text{
text-align: center;


    }
    .hero__btn-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}